// google font
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&display=swap");

body {
  background-color: #faa18e;
  font-family: Roboto;
}

.login {
  background-color: white;
  font-size: 16px;
  border-radius: 7px;
  box-shadow: 3px 3px 3px gray;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
  width: 300px;
}

.form {
  padding: 10px 10px;
}
