.profile {
  margin-top: 20px;
  margin-bottom: 20px;
}
.btn {
  margin-bottom: 20px;
  font-size: 15;
}

.save-btn {
  float: left;
}

.delete-btn {
  float: right;
}

.fav {
  padding-bottom: 300px;
}
